
@{
    ViewBag.Title = "ReporteCotizacion";
}

<h2>Reporte Cotización</h2>

<div style="text-align:center"><iframe src="~/Reportes/ReporteCotizacion.aspx" height="800px" width="760px" frameborder="0"></iframe></div>
