
@{
    ViewBag.Title = "ReporteFactura";
}

<h2>ReporteFactura</h2>

<div style="text-align:center"><iframe src="~/Reportes/ReporteFacturacion.aspx" height="800px" width="900px" frameborder="0"></iframe></div>
