@{
    ViewBag.Title = "Home Page";
}
<div ></div><br />
<br />
<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src=" ~/Content/Imagenes/Fijo y Puerta.png" />"
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/Imagenes/FACHADA.jpg" />
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/Imagenes/puerta corrediza corrediza.jpg" />
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/Imagenes/TICAL PUERTA.FIJO.jpg" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/Imagenes/fijoss.jpg" />

            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/Imagenes/corredizo dos paños.jpg" />
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src="~/Content/Imagenes/SOBRE DE MESA TICAL.jpg" />
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                
                <img src="~/Content/Imagenes/forma P.B.jpg" />
            </a>
        </div>
    </div>
</div>