@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/camera.css" rel="stylesheet" />

    <div id="back_to_camera">
    </div><!-- #back_to_camera -->

    <div class="fluid_container">
        <div class="camera_wrap camera_emboss pattern_5 camera_ash_skin" id="camera_wrap_4">
            <div data-thumb="../Content/Imagenes/images/slides/thumbs/1.jpg" data-src="../Content/Imagenes/images/slides/1.jpg">
            </div>
            <div data-thumb="../Content/Imagenes/images/slides/thumbs/2.jpg" data-src="../Content/Imagenes/images/slides/2.jpg">
            </div>
            <div data-thumb="../Content/Imagenes/images/slides/thumbs/3.jpg" data-src="../Content/Imagenes/images/slides/3.jpg">
            </div>
            <div data-thumb="../Content/Imagenes/images/slides/thumbs/4.jpg" data-src="../Content/Imagenes/images/slides/4.jpg">
            </div>
            <div data-thumb="../Content/Imagenes/images/slides/thumbs/5.jpg" data-src="../Content/Imagenes/images/slides/5.jpg">
            </div>
            <div data-thumb="../Content/Imagenes/images/slides/thumbs/7.jpg" data-src="../Content/Imagenes/images/slides/7.jpg">
            </div>
            <div data-thumb="../Content/Imagenes/images/slides/thumbs/8.jpg" data-src="../Content/Imagenes/images/slides/8.jpg">
            </div>
            <div data-thumb="../Content/Imagenes/images/slides/thumbs/9.jpg" data-src="../Content/Imagenes/images/slides/9.jpg">
            </div>
        </div><!-- #camera_wrap_3 -->
    </div><!-- .fluid_container -->


@section Scripts {
<link href="~/Content/LoginCSS.css" rel="stylesheet" />
<script src="~/Scripts/LoginModal.js"></script>
<script type="text/javascript" src="~/Scripts/Slider/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/Slider/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="~/Scripts/Slider/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="~/Scripts/Slider/camera.min.js"></script>
<script>
		jQuery(function(){

			jQuery('#camera_wrap_4').camera({
				height: 'auto',
				loader: 'bar',
				pagination: false,
				thumbnails: true,
				hover: false,
				opacityOnGrid: false,
				imagePath: '../Content/Imagenes/images/'
			});

		});
</script>
}
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <img class="" id="img_logo" src="~/Content/Imagenes/Logo2.png">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>

            <!-- Begin # DIV Form -->
            <div id="div-forms">

                <!-- Begin # Login Form -->
                <form id="login-form">
                    <div class="modal-body">
                        <div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Escriba su Usuario y Contraseña.</span>
                        </div>
                        <input id="login_username" class="form-control" type="text" placeholder="Usuario" required>
                        <input id="login_password" class="form-control" type="password" placeholder="Contraseña" required>
         <br />
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar Sesión</button>
                        </div>
                        <div>
                        </div>
                    </div>
                </form>
                <!-- End # Login Form -->
             </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>

