@if (Session["UsuarioActual"]!= null)
{
    using (Html.BeginForm("CerrarSession", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hola " + Session["UsuarioActual"].ToString(), "Index")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Session</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
